header{
	background-color:#DEDEFF;
}

header p {
	margin: 10px;
}

.row#hh {
	text-align:center;
}

.middle{
	width: 100%;
    height: 100%;
	background-image:url(http://i58.tinypic.com/mrzay9.jpg);
	background-size: 70%; 
	background-color:white;
	background-position: 50% 10%; 
	background-repeat: no-repeat
}

.middle form {
	margin: 0px;	
}

.front-page-button {
	width: 100%;
	padding: 10px 20px;
	font-size: 20px;
	color: #fff;
	background: #8585FF;
    display: block;
    text-align: center;
    margin: 20px;
    width: 100%;
    height: 15%;
}
a:hover {
    text-decoration: none;
}

h1 {
	position: relative;
	font-size: 70px;
	margin-top: 0;
	font-family: 'Old Standard TT', helvetica, arial;
}

h1 a {
	text-decoration: none;
	color: #666;
	position: relative;

	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
}

h1 {
	content : 'E-hääletus';
	color: #d6d6d6;
	text-shadow: 0 1px 0 white;
}

table#t01, th, td {
	border: 1px solid black;
    border-collapse: collapse;
}

table#t01 {
	margin-top: 50px;	
}

table#t01 tr:nth-child {
    background-color: #eee;
}

table#t01 th	{
    background-color: #DEDEFF;
}

.Valikud{
	height: 25px
}

.singleline li{
display: inline-block;
margin-right: 15px;
margin-top: 50px;
}