@import url(http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(https://raw.github.com/noizwaves/bootstrap-social-buttons/v1.0.0/social-buttons.css);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

.kl {
	text-align:center;
}

.btn{
	padding: 3px 6px;
	font-size: 13px;
	color: white;
  	background-color: #344D99;	
}

 .logisissetxt p {
	margin: 80px;
	font-size: 20px;
}

.kl p {
	margin-top: 15px;
	margin-bottom: 0px;
}

.aad {
	margin-top: 15px;
}

header{
	background-color:#DEDEFF;
}

header p {
	margin-bottom: 10px;
}

.fb_iframe_widget {
	margin: 15px;	
}

.middle{
	width: 100%;
    height: 100%;
	background-image:url(picid/kaart.jpg);
	background-size: 100%; 
	min-height: 540px;
	background-color:white;
	background-position: 50% 10%; 
	background-repeat: no-repeat
}
a:hover {
    text-decoration: none;
}

h1 {
	position: relative;
	font-size: 70px;
	margin-top: 40px;
	margin-bottom: 0px;
	font-family: 'Old Standard TT', helvetica, arial;
}

h1 a {
	text-decoration: none;
	color: #666;
	position: relative;
}

h1 {
	content : 'E-hääletus';
	color: #d6d6d6;
	text-shadow: 0 1px 0 white;
}

.pilt {
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	display:block;
}

a.wide, a.box{
	text-decoration:none;
	color:#fff;
	position:relative;
	overflow:hidden;
}

a.wide h2, a.box h2{
	position:absolute;
	bottom:5px;
	font-size:14px;
}

a.wide h2.top, a.box h2.top{
	position:static;

	font-size:14px;
}
a.wide i, a.box i{
font-size: 60px;
text-align: center;
display: block;
margin-top: 10px; /* outside Codepen is actually 30px */
}

.wide{
	width:100%;
	min-width:250px;
	height:15%;
	min-height:170px;
	overflow:hidden;
	font-size:26px;
	padding:10px 20px;
	display:block;
	float:left;
    margin: 20px;   
    text-align: center;
}


.lime{background:#61b812;}
.orange{background:#e76022;}
.blue{background:#8585FF;}
.redgay{background:#DA312E;}
.yellow{background:#dbb701;}
.bluefish{background:#02b9e3;}
.magenta{background:#d22a4e;}
.spacer{
	width:770px;
	margin-right: 50px;
	float:left;
}

.right{
	float:right;
	text-align:right;
	margin-top: 30px;
}
.right p{
	margin: 5px 0px;
}
img.prof{
	float: right;
	margin: 10px;
	margin-top: 40px;
}
.i_bot{
	font-size: 30px;
	text-align: left;
	position: absolute;
	bottom: 0px;
}
.cal_i{
	margin-top: 20px;
	margin-left: 15px;
	width: 155px;
}
.cal_e h1{
	position: absolute;
	right: 0px;
	width: 115px;
	text-align: center;
	margin: 0px;
	font-size: 60px;
}
.cal_e p{
	position: absolute;
	right: 0px;
	width: 115px;
	text-align: center;
	margin-top: 75px;
	text-transform: uppercase;
}
.cal_e i{
	text-align: left;
	font-size: 25px !important;
	position: absolute;
	bottom: 0px;
}

table#t01, th, td {
	border: 1px solid black;
    border-collapse: collapse;
}

table#t01 {
	width:100%;
	margin-top: 50px;
	margin-bottom: 50px;	
}

table#t01 tr {
    background-color: #eee;
}

table#t01 th	{
    background-color: #DEDEFF;
}

.Valikud{
	height: 25px
}

.singleline li{
display: inline-block;
margin-right: 15px;
margin-top: 50px;
}

label { 
	display: inline-block; 
	width: 140px;
}

.nupp{
	margin-left : 150px; 
	margin-top:5px;
}

.block{
	margin-bottom:5px;
}

.ff1{
	margin-top: 25px;	
}