<!DOCTYPE html>

<meta charset="utf-8">
<title>Text Gradients</title>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css' >

.middle{
	background-image:url(picid/kaart.jpg);
	background-size: 70%; 
	background-position: 50% 10%; 
	background-repeat: no-repeat
}





header{
	background-color:#DEDEFF;
}