
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

.middle{
	background-image:url(picid/kaart.jpg);
	background-size: 70%; 
	background-position: 50% 10%; 
	background-repeat: no-repeat
}

.katse{
    position: relative;
	font-size: 70px;
    margin-top: 0;
    font-family: 'Lobster', helvetica, arial;
}
.katse a {
        text-decoration: none;
        color: #666;
        position: absolute;
         
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
    }
.katse:after {

	content : 'E-hääletus';
        color: #d6d6d6;
        text-shadow: 0 1px 0 white;
}



header{
	background-color:#DEDEFF;
}